@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-purple: #9333ea;
    --main-pink: #db2777;
}

html {
    min-height: 100%;
    background: linear-gradient(135deg, #f3eafc, #fae7f1, #e8f2ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 87.5%;
}

/* body * {
    border: 1px solid var(--main-pink);
} */

.container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
    font-family: "Inter", "Plus Jakarta Sans", "Roboto", system-ui, "-apple-system", "BlinkMacSystemFont", 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3 {
    margin: 0;
}

header, main, footer {
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

header > div:nth-of-type(1) {
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

header > div > img {
    aspect-ratio: 1 / 1;
    height: 90%;
}

header > div > h1 {
    background: linear-gradient(to top left, #9333ea, #db2777);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

header > div > h2 {
    color: #374151;
    font-size: 1rem;
    font-weight: 400;
}

.main {
    display: flex;
    padding: 0 1rem;
    gap: 1rem;
}

.projectSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: clamp(300px, 25%, 350px);
}

.taskSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 1rem;
}

.projectBox, .addTaskBox, .projectLabelBox, .completedTaskBox, .noTasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 1px 1px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0 4px 6px -4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.projectTitle {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.projectTitle > h3, .addTaskTitle > h3 {
    color: #374151;
    font-size: 1rem;
    font-weight: 400;
}

.projectListDOM {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;    
    width: 100%;
    gap: 0.5rem;
    margin: 1rem 0;
}

.projectBox > div:last-of-type {
    width: 100%;
}

.addTaskBox > form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    margin: 1rem 0 0 0;
}

.addTaskBox > form > div:nth-child(1),
.addTaskBox > form > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.addTaskBox > form > div > input {
    width: 100%;
}

.addTaskTitle {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.selections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.selections > div > select, .selections > div > input {
    width: 100%;
}

.addTaskButtons {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0.5rem;
}

.buttonOne {
    height: 100%;
    padding: 0.75rem 1rem;
    background: linear-gradient(to right, #a855f7, #ec4899);
    color: #ffffff;
    border: none;
    border-radius: 12px; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0 4px 6px -4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

.buttonOne:hover {
    background: linear-gradient(to right, var(--main-purple), var(--main-pink));
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 
                0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.buttonTwo {
  width: 100%;
  padding: 0.75rem 1rem;
  background: #f9fafb; 
  color: #374151; 
  border: none;
  border-radius: 12px; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.2s;
}

.buttonTwo:hover {
  background: #f3f4f6;
}

.projectButton, #newProjectButton {
    width: 100%;
}

.noTasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem;
    gap: 1rem;
    color: #374151;
}

.noTasks p {
    margin: 0;

}

/* active and completed tasks sections */

.activeTaskBox {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    border-radius: 12px;
    gap: 1rem;
}

.activeTaskBox > h2 {
    color: #374151;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 0 0.5rem 1rem;
}

.activeTaskItem {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 1px 1px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0 4px 6px -4px rgba(0, 0, 0, 0.1);
    background-color: white;
    gap: 0.5rem;
}

.buttonDiv {
    display: flex;
    flex-direction: column;
    flex: 1;  
}

.buttonDiv > button {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;        
    border: 2px solid rgba(0, 0, 0, 0.1); 
}

.taskMiddleSection {
    display: flex;
    flex-direction: column;
    flex: 18;
    gap: 1rem;
}

.taskText {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.taskText > h2 {

}

.taskText > p {
    margin: 0;
}

.taskInfo {
    display: flex;
    gap: 1rem;
}

.taskOptions {
    display: flex;
    flex-direction: column;
    flex: 1;
}



/* active and completed tasks sections */

.projectLabelBox {
    align-items: start;
    justify-content: start;
    gap: 0.5rem;
}

.projectLabelBox p {
    margin: 0;
}


/* Modals here (hidden by default) */
.modal {
    display: none;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.newProjectModal {
    display: flex;
    flex-direction: column;
    width: minmax(50%, 400px);
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 2rem;
    background-color: white;
    gap: 0.5rem;
}

.newProjectModal > div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.modal h2 {
    color: #374151;
    font-size: 1rem;
    font-weight: 400;
}

.modal span {
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0;
}

.modal form {
    display: flex;
    gap: 0.5rem;
    height: 100%;
    margin-top: 0.5rem;
}

.hideLabel {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

@media (max-width: 768px) {
    .container {
        padding: 0 0.5rem;
    }

    header > h1 {
        font-size: 1.5rem;
    }
    
    .projectSection {
        width: 100%;    
    }

    .main {
        flex-direction: column;
    }

    .selections {
        display: flex;
        flex-direction: column;
    }
}