:root {
    --main-purple: #9333ea;
    --main-pink: #db2777;
}

html {
    background: linear-gradient(135deg, #f3eafc, #fae7f1, #e8f2ff);
}

body * {
    border: 1px solid var(--main-pink);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}

h1, h2, h3 {
    margin: 0;
}

header, main, footer {
    width: 100%;
}

header {
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
}

header > img {
    aspect-ratio: 1 / 1;
    height: 100%;
}

header > h1 {
    background: linear-gradient(to top left, #9333ea, #db2777);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.main {
    display: flex;
    padding: 0 1rem;
    gap: 1rem;
}

.projectSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: clamp(300px, 25%, 350px);
    height: 500px; /* temporary to check size */
}

.taskSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.projectBox, .addTaskBox, .projectLabelBox, .activeTaskBox, .completedTaskBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 1px 1px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0 4px 6px -4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

button {
    background: linear-gradient(to right, #a855f7, #ec4899);
}

button:hover {
    background: linear-gradient(to right, var(--main-purple), var(--main-pink));
}

.hideLabel {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

@media (max-width: 768px) {
    header > h1 {
        font-size: 1.5rem;
    }
    
    .projectSection {
        width: 100%;    
    }

    .main {
        flex-direction: column;
    }
}